{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
<style type="text/css">
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue
}
.wrapper {
    padding: 30px 50px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 10px auto;
    max-width: 600px
}
.img {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    object-fit: cover
}
label {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    color: #777;
    padding-left: 3px
}
select {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    height: 40px;
    padding: 5px 10px
}
.button {
    background-color: #fff;
    color: #0779e4
}
.btn-primary {
    background-color: #0779e4
}
@media(max-width:576px) {
    .wrapper {
        padding: 25px 20px
    }

    #deactivate {
        line-height: 18px
    }
}
</style>
<div class="wrapper">
    <form method='post' enctype="multipart/form-data"> 
    <h4 class="pb-4">Account settings</h4>
    <img id="asgnmnt_file_img" src="{{ p.image.url }}" 
    class="img rounded-circle" onclick="passFileUrl()" style="cursor:pointer;" alt="Upload">
    <input type="file" name="image" id="asgnmnt_file" style="display:none;" onchange="fileSelected(this)">
    {% csrf_token %}
    <div class="py-2">
        <div class="row py-2">
            <div class="col-md-6"> <label for="firstname">First Name</label> <input type="text" class="bg-light form-control" value='{{p.first_name}}' name='first_name'> </div>
            <div class="col-md-6 pt-md-0 pt-3"> <label for="lastname">Last Name</label> <input type="text" class="bg-light form-control" value='{{p.last_name}}' name='last_name'> </div>
        </div>

        <div class="row py-2">
            <div class="col-md-6"> <label for="email">Email Address</label> <input type="text" class="bg-light form-control" value='{{p.email}}' name='email'> </div>
            <div class="col-md-6 pt-md-0 pt-3"> <label for="phone">Phone Number</label> <input type="tel" class="bg-light form-control" value='{{p.phone}}' name='phone'> </div>
        </div>

        <div class="row py-2">
            <div class="col-md-6"> <label for="country">Country</label> 
                <select name="country" class="bg-light form-control">
                    <option value='{{p.country}}' hidden selected>{{p.country}}</option>
                    <option value="Tokyo">Tokyo</option>
                    <option value="Hà Nội">Hà Nội</option>
                    <option value="London">London</option>
                    <option value="Seoul">Seoul</option>
                    <option value="Beijing">Beijing</option>
                </select> 
            </div>
            <div class="col-md-6 pt-md-0 pt-3"> <label for="language">Language</label>
                <select name="language" class="bg-light form-control">
                    <option value='{{p.language}}' hidden selected>{{p.language}}</option>
                    <option value="Tiếng Anh">Tiếng Anh</option>
                    <option value="Tiếng Trung">Tiếng Trung</option>
                    <option value="Tiếng Nhật">Tiếng Nhật</option>
                    <option value="Tiếng Việt">Tiếng Việt</option>
                    <option value="Tiếng Hàn">Tiếng Hàn</option>
                </select> 
            </div>
        </div>

        <div class="py-3 pb-4"> <button class="btn btn-primary mr-3">Save Changes</button> 
        <a href="{% url 'change_password' %}" class="btn button">Change password</a>
        </div>    
    </div>
    </form>

     <script>
    function passFileUrl(){
        document.getElementById('asgnmnt_file').click();
    }

    function fileSelected(inputData){
        document.getElementById('asgnmnt_file_img').src = window.URL.createObjectURL(inputData.files[0])
    }
    </script>
</div>
{% endblock %}
